.header{
    height: 34vw;
    margin: 0 auto 30px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover; /* cho đẹp hơn contain */
    position: relative;
    border-radius: 20px; /* bo góc ảnh nền */
    overflow: hidden; /* ẩn phần góc thừa */
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    justify-content: center; /* căn giữa theo chiều ngang */
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* căn giữa chữ */
    gap: 1.5vw;
    margin: 0 2vw;
    animation: fadeIn 3s;
}
/* Tiêu đề */
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4.5vw,22px);
}
/* Đoạn mô tả */
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}
.header-contents button:hover {
  background: #f0f0f0;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 80%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 90;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}