.sidebar {
  width: 240px;
  position: fixed;
  height: 100vh; /* Chiều cao toàn màn hình */
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */
  padding: 20px 0;
  box-sizing: border-box;
  overflow-y: auto; /* Nếu menu dài, có thể cuộn */
}

/* Logo */
.sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-logo img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

/* Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  flex-grow: 1;
}

.sidebar-menu a {
  text-decoration: none;
  color: #ddd;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar-menu a:hover {
  background-color: #333;
}

.sidebar-menu a.active {
  background-color: #ff9800;
  color: #fff;
  font-weight: bold;
}

/* Footer */
.sidebar-footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #444;
    margin-top: auto;
}

.logout-btn {  background-color: #ff5252;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #e04848;
}
.main-content {
  margin-left: 240px; /* tạo khoảng trống tương ứng với sidebar */
  padding: 20px;
}
