.dashboard-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.charts-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-item {
  flex: 1;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.main-content {
  margin-left: 240px; /* Tạo khoảng trống bằng sidebar */
  width: calc(100% - 240px);
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f9fb;
  min-height: 100vh;
}

