.add {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  /* margin-left: 40px; */
  /* margin: 0; */
  padding: 20px 40px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.add-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-form {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.add-left, .add-right {
  flex: 1;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.2s;
}

.upload-box:hover {
  border-color: #888;
}

.upload-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 6px;
}

.add-right input[type="text"],
.add-right input[type="number"],
.add-right textarea,
.add-right select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}
.add-right .restaurant-name{
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
}

.add-bottom {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.category-box, .price-box {
  flex: 1;
  min-width: 120px;
}

.price-preview {
  margin-top: 3px;
  color: #555;
  font-size: 14px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.add-btn:hover {
  background-color: #45a049;
}
